{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  navigation: [
    {
      href: "#",
      text: "Profile",
      active: true
    },
    {
      href: "#",
      text: "Apply"
    },
    {
      href: "#",
      text: "Support"
    }
  ]
}) }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Profile
      </h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
    </div>
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Phillips"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "1 February 1978"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: "QQ123456C"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Home address"
      },
      value: {
        html: "12 Pearl Street<br>Bristol<br>BS3 4AB"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}


<h2 class="govuk-heading-m">
  Contact details
</h2>
{{ govukSummaryList({
rows: [
{
key: {
  text: "Home phone"
},
value: {
  text: "None"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "home phone"
    }
  ]
}
},
{
key: {
  text: "Mobile phone"
},
value: {
  text: "0777 777777"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "mobile phone"
    }
  ]
}
},
{
key: {
  text: "Email address"
},
value: {
  text: "sarah@example.com"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "email address"
    }
  ]
}
}
]
}) }}



<h2 class="govuk-heading-m">
  Bank details details
</h2>
{{ govukSummaryList({
rows: [
{
key: {
  text: "Name on account"
},
value: {
  text: "Sarah Phillips"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "account name"
    }
  ]
}
},
{
key: {
  text: "Sort code"
},
value: {
  text: "00-00-00"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "sort code"
    }
  ]
}
},
{
key: {
  text: "Account code"
},
value: {
  text: "00000000"
},
actions: {
  items: [
    {
      href: "#",
      text: "Change",
      visuallyHiddenText: "account code"
    }
  ]
}
}
]
}) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "contact-preferences",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "How we contact you",
              classes: "govuk-fieldset__legend--m"
            }
          },
          
          items: [
            {
              value: "carcasses",
              text: "Text (we will update you by text)"
            },
            {
              value: "mines",
              text: "Email (we will update you by email)"
            },
            {
              value: "farm",
              text: "Letter (we will update you by letter)"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save"
}) }}

      </aside>

    </div>
  </div>

{% endblock %}
