{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        General
      </h1>

      <p>This page explains general research and design comments for the tracking journeys. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <p>We mocked up wireframes for an application tracker in order to concept test a way to empower customers to track their own applications (without the need for a progress chasing call) – one requiring a secure login and one that does not. </p>

 
      <p>The wireframes were originally created as static pages in Mural (i.e. not clickable), designed in line with the GOV.UK design system, to help the user imagine what a real service could look and feel like. The intention was to test these with users to get feedback and iterate the designs. </p>

      <h2 class="govuk-heading-m">
        Design changes from the tested version visible in this prototype</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Minor changes in font size to make the content hierarchy clearer. </li>
          <li>Minor changes to bring content into line with the GDS style guide (e.g. capitalisation). </li>
          <li>Top horizontal navigation header uses the new GDS Design System grey <a href="https://design-system.service.gov.uk/components/service-navigation/" rel="noreferrer noopener" target="_blank">service navigation component</a> (opens in new tab), which is a new component published in summer 2024, after the research took place instead of the header used in the Mural designs, which is not part of the Design System.</li>
        </ul>

        
      <h2 class="govuk-heading-m">
      Research questions
      </h2>
      <p>This journey was not tested with users. A similar page to the profile page which appears at the end of the journey was tested in round 3 as the start of the change of circumstance journey.   </p>

   <h2 class="govuk-heading-m">
    Next steps</h2>

    

      <ul class="govuk-list govuk-list--bullet">
          <li>Desk research on how digital tracking works for other benefits at DWP and outside of the organisation. </li>
          <li>Test the journey starting on the homepage. </li>
          <li>Understand user behaviour and needs around tracking – Why, when and how are users tracking their applications? To improve the understanding around tracking, initial research could be done with agents or through data analysis of their databases to understand why people track their applications and what they hope to achieve. This can inform the design and content of tracking steps and other communications like notifications sent out to update customers.  </li>
          <li>Test designs where the applications for multiple benefits are being tracked (instead of only one). </li>
          <li>Check entry points for the tracking journey are realistic. The suggestion in the prototyped journey is that the customer clicks on a ‘Track your application’ link on the Confirmation page after they have just applied for a benefit, however, it may be more likely that a customer would want to check progress of their application after some time had elapsed, in which case they would no longer be able to access the Confirmation page. </li>
          <li>Explore options that avoid the user having to re-enter information (such as a reference number) and whether this is information DWP could pull into the journey from an email or from a previous screen. </li>
          <li>Look at other tracking journeys that exist in existing government or DWP services, and also in non-government platforms such as retail and postal. This journey is not a one-off transaction but is part of an ongoing relationship with DWP and the interface should reflect this. </li>
          <li>Ensure that navigation helps the customer build a mental model of the account they are in, with labels that align to the customer’s mental models of the application they have submitted and their relationship with DWP. </li>
<li>Be clear about what information, especially personal data, a customer would see in a ‘logged in’ state versus a ‘not logged in state’. </li>
<li>Ensure that any options in this interface align to options offered already in DWP systems, for example, ‘How we contact you’ overlaps with the ‘contact preferences’ work in Colleague View. </li>
<li>Be clear about how the account modelled in the prototype sits alongside other government (including OneLogin) and DWP accounts and what the user is creating when they click on 'create account'. </li>
<li>Base any initial designs for creating accounts on existing government and DWP services. </li>

          </ul>
      
  </div>
  </div>

{% endblock %}
