{% extends "layouts/main.html" %}

{% block pageTitle %}
  Tracking concepts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 3: Tracking"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Concept 3: Tracking</h1>
<p>The prototype pages linked below explore the concept of 'Tracking'. </p>

<h2 class="govuk-heading-m">The prototype</h2>
<p>The prototype pages linked below explore the concept of 'Tracking'. The first two links relate to the experience of a user who does not log in, perhaps because they do not have a digital account. The second illustrates the experience of a user who creates an account and logs in.</p>

   <ul class="govuk-list govuk-list--bullet">
        <li><a href="no-login-confirmation">Tracking pages (without log in)</a></li>
        <li><a href="no-login-profile">Profile page (without log in)</a></li>
        <li><a href="with-login-confirmation">Tracking pages (with log in)</a></li>
        <li><a href="with-login-profile">Profile page (with logging in)</a></li>
      </ul>



      <h2 class="govuk-heading-m">Research and design</h2>

  <p>This section summarises the research and design work carried out in relation to the tracking journeys, as well as suggestions on what to research and design next. As this prototype was not tested with users, commentary is brief.  </p>
  <ul class="govuk-list govuk-list--bullet">
   <li><a href="res-des-general-tracking">General</a></li>
 </ul>
    </div>
  </div>
</main>
</div>
{% endblock %}
