{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create an account     </h1>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Pre-fill from application"
        }) }}


        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "First name"
          },
          classes: "govuk-!-width-one-half",
          id: "one-half",
          name: "oneHalf"
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          classes: "govuk-!-width-one-half",
          id: "one-half",
          name: "oneHalf"
        }) }}

        {{ govukInput({
          label: {
            text: "Password"
          },
          classes: "govuk-!-width-one-half",
          id: "one-half",
          name: "oneHalf"
        }) }}

        {{ govukInput({
          label: {
            text: "Repeat password"
          },
          classes: "govuk-!-width-one-half",
          id: "one-half",
          name: "oneHalf"
        }) }}

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Date of birth",
      classes: "govuk-fieldset__legend--s"
    }
  }
}) }}

{{ govukInput({
  label: {
    text: "Email address"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukButton({
  text: "Create account",
  href: "with-login-log-in"
}) }}
      </div>




    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Talk to an advisor</h2>
          <p class="govuk-body-m">
            Telephone: 020 79466 0101
            <br>
            Textphone: 020 7946 0102
            <br>
            Monday to Friday, 9am to 5pm (except public holidays)
            <br>
            <a href="">Find out about call charges</a> <br>
          </p>
        </div>
      </aside>

    </div>
  </div>

{% endblock %}
