{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  navigation: [
    {
      href: "with-login-profile",
      text: "Profile"
    },
    {
      href: "#",
      text: "Apply"
    },
    {
      href: "#",
      text: "Support"
    }
  ]
}) }}

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tracking: Reference SMP123UCD      </h1>


<p class="govuk-body">Your application is for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>Pension Credit</li>
<li>Funeral Expenses Payment</li>
</ul>

</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
    <ol class="app-step-nav__steps">
      <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
        <div class="app-step-nav__header js-toggle-panel" data-position="1">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>

            <span class="js-step-title">
              Submitted
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
          <p class="app-step-nav__paragraph">Your application is with us and awaits review.</p>
          <p class="app-step-nav__paragraph">For support, please <a href="">talk to an advisor</a>.</p>
        </div>

      </li>

      <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
        <div class="app-step-nav__header js-toggle-panel" data-position="2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>

            <span class="js-step-title">
              Received
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
          <ol class="app-step-nav__list " data-length="1">
            <li class="app-step-nav__list-item js-list-item ">
              <p class="app-step-nav__paragraph">We have received your application and it is waiting to be reviewed.</p>
              <p class="app-step-nav__paragraph">If you need help or would like to talk to an adviser or <a href=""></a>visit our support pages</a></p>
            </li>
          </ol>
        </div>

      </li>

      <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
        <div class="app-step-nav__header js-toggle-panel" data-position="3">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>

            <span class="js-step-title">
              In review
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
          <p class="app-step-nav__paragraph">Your application is being reviewed by an agent. We will contact you if we need any more information.</p>
              <p class="app-step-nav__paragraph">If you need help or would like to talk to an adviser or <a href=""></a>visit our support pages</a></p>
        </div>

      </li>

  

      <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
        <div class="app-step-nav__header js-toggle-panel" data-position="5">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>

            <span class="js-step-title">
              Evidence check
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
          {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

          {{ govukWarningText({
            text: "Provide a copy of your passport",
            iconFallbackText: "Warning"
          }) }}
          <p class="app-step-nav__paragraph"><a href="">Submit your evidence</a></p>
        </div>

      </li>

      <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
        <div class="app-step-nav__header js-toggle-panel" data-position="6">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>

            <span class="js-step-title">
              Decision
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
          <p class="app-step-nav__paragraph">[Decision text]</p>
        </div>

      </li>

     
    </ol>
  </div>

</div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Talk to an advisor</h2>
          <p class="govuk-body-m">
            Telephone: 020 79466 0101
            <br>
            Textphone: 020 7946 0102
            <br>
            Monday to Friday, 9am to 5pm (except public holidays)
            <br>
            <a href="">Find out about call charges</a> <br>
          </p>
        </div>
      </aside>

    </div>
  </div>

{% endblock %}
