//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #b1b4b6;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 100px;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;

    @media (max-width: 768px) {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #fff;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item.active {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #00703c;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid #00703c;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  .my-btn-right {
    float: right;
}

.vertical-align {
  vertical-align: top;
  top-padding: 20px;
}

.column-width {
  width: 15%;
  top-padding: 20px;
  bottom-padding: 20px;

}