{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 2: Change of circumstances",
      href: "coc-concepts"
    }
    ,
    {
      text: "Change employment details"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        



<h1 class="govuk-heading-xl">Change employment status</h1>
<p>This prototype illustrates a user whose employment status has changed.</p> 



  <p>You can click through the full journey or jump to specific points in the prototype. </p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
      <a class="govuk-link" href="/OP1/my-account/profile-employ">Full journey</a> 
      <br>On the first page, click on the 'report change of circumstance' links towards the top of the page and on the second page, choose the <strong>'Work, income and savings'</strong> option to continue the journey. </p>

    </li>
    <li>
      <a class="govuk-link" href="/OP1/my-account/profile-employ">Profile page</a>
    </li>
    <li>
      <a class="govuk-link" href="/OP1/my-account/change-circs-employ-a">Change of circumstances page (with icons)</a>
    </li>
    <li>
      <a class="govuk-link" href="/OP1/my-account/change-circs-employ-a">Change of circumstances page (without icons)</a>
    </li>
    <li>
      <a class="govuk-link" href="/OP1/Questions/employ-change">Change employment details question pages</a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Research and design</h2>

  <p>These pages explain the research carried out in relation to changing employment status, as well as suggestions on what to research and design next. This journey is very similar to the design of the <a href="change-bank-details.html">Change bank details</a> journey and these journeys were tested together. As the design and research analysis is so similar, we have not duplicated commentary here for each page but have provided general comments only.  </p>
  <ul class="govuk-list govuk-list--bullet">
   <li><a href="res-des-general-employ">General</a></li>
 </ul>
    </div>
  </div>
</main>
</div>

{% endblock %}
