{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 2: Change of circumstances"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        



<h1 class="govuk-heading-xl">Concept 2: Change of circumstance</h1>
<p>This prototype illustrates a carer (claiming Carer's Allowance) telling DWP that they have stopped their caring duties because the disabled person they care for has gone into a care home.</p>
<p>The assumption is that the user would log in via OneLogin before arriving at the first page shown. </p>
<p>On the first page, please choose the 'Caring responsibilities' heading to see the journey. </p>


<ul class="govuk-list govuk-list--bullet">
  <li><a href="/OP1/my-account/summary">Tell DWP about a change</a></li>
      </ul>
    </div>
  </div>
</main>
</div>

{% endblock %}
