{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 2: Change of circumstances"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        



<h1 class="govuk-heading-xl">Concept 2: Change of circumstance</h1>
<p>These three prototypes explore concepts where users tell DWP about changes in their lives. For all joureys, the assumption is that the user would log in via OneLogin before arriving at the first page shown. </p>

<h2 class="govuk-heading-m"><a href="/OP1/my-account/profile-bank">1. Change bank details</a></h2>
<p>This prototype illustrates a user who needs to change their bank details. On the first page, click on the 'report change of circumstance' links towards the top of the page and on the second page, choose the <strong>'Work, income and savings'</strong> option to continue the journey. </p>

<h2 class="govuk-heading-m"><a href="/OP1/my-account/summary-employment">2. Change employment status</a></h2>
<p>This prototype illustrates a user whose employment status has changed. On the first page, choose the <strong>'Work, income and savings'</strong> heading to see the journey. </p>

<h2 class="govuk-heading-m"><a href="/OP1/my-account/summary">3. Change caring status</a></h2>
<p>This prototype illustrates a carer (claiming Carer's Allowance) telling DWP that they have stopped their caring duties because the disabled person they care for has gone into a care home. On the first page, choose the <strong>'Caring responsibilities'</strong> heading to see the journey.</p>


    </div>
  </div>
</main>
</div>

{% endblock %}
