{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/op1/authentication/2fa" method="post">

      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
      <h1 class="govuk-heading-l">
          Enter your password to sign in to your GOV.UK One Login
        </label>
      </h1>
{{ govukPasswordInput({
  label: {
    text: "Enter your Password"
  },
  id: "password-input",
  name: "password"
}) }}

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}