{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Work, income and savings page
      </h1>

      <p>This page explains research and design specific to the <a href="/OP1/my-account/work-bank">Work, income and savings page</a>.</p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The intention behind this concept was to explore groupings for change of circumstances reasons with a journey through to work, income and savings topics.</li>
        <li>Groupings have been decided by the UCD team and viewing Universal Credit report a change journeys - user testing will help inform if these groupings make sense.</li>
      </ul>

      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with 10 users in round 3 of research. </p>

    

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Overall, the journey seemed to work for participants, but from the interview notes in Mural, it's often unclear which screen of the journey the notes are referring to.  </li>
        <li>It's also unclear if the items shown on the Work, income and savings page are realistic and based on actual information collected for different benefits. The wording of some items doesn't seem to have been reviewed. </li>
        <li>Other things participants found confusing: 
          <ul class="govuk-list govuk-list--bullet">
            <li>To see savings and sick pay.</li>
              <li>One struggled to understand the difference between 'Work information' and 'Employment status'.</li>
              <li>Why it was 'Change bank account' and not 'Change bank details'.</li>
              <li>Why it did not ask for changes from full to part time.</li>
          </ul>        
            </li>
      </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>It should be double checked that the content and the way it is presented makes sense in terms of the options provided on the Work, income and savings page. 
        </li>
        <li>Card sorts will help to detect mental models of participants and their understanding of different categories of change of circumstances.  </li>
        <li>Flows with questions should only be tested after the underlying decision trees for multiple benefits have been created and approved.   </li>
       </ul>
  </div>
  </div>

{% endblock %}
