{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell DWP about a change page
      </h1>

      <p>This page explains research and design specific to the <a href="/OP1/my-account/summary">Tell DWP about a change page</a>. This is a key page in the journey as it's the page the user lands on after logging in. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The intention for the design of this page was to explore a concept of a change of circumstance service landing page.</li>
        <li>Areas of the page included personal information and links off to change of cirucmstance groupings.</li>
        <li>Groupings for changes are based on the Universal Credit 'Report a change' journey.</li>
        
      </ul>


      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>There are a lot of options for the customer on this page (change details in the top table, report a change in the bottom half of the page or switch profile). We suggest simplifying this page.  
        </li>
        <li>Conduct more research to understand how people group different changes of circumstances, possibly through a card sorting exercise.  </li>
        <li>Conduct desk research to gather groupings used by other DWP or government services when reporting a change.  </li>
        <li>Carry out desk research on existing government and DWP design patterns for pages like this that display customer personal details.  </li>

      </ul>
  </div>
  </div>

{% endblock %}
