{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Profile page
      </h1>

      <p>This page explains research and design specific to the <a href="/OP1/my-account/profile-bank">Profile page</a>. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <p>[Add text] </p>

      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with 10 users in round 3 of research. </p>

     

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Participants generally knew where to go to update their circumstances, but this is likely because the interviewer explicitly pointed it out and prompted for 'change of circumstances'. 
        </li>
        <li>The research did not specifically test whether users understand the phrase 'change of circumstances,' but some participants said that they did not find it clear. This should be picked up again. 
        </li>
      </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>When asking participants where they would go next, it's better not to include the exact wording of the destination (e.g., 'change of circumstances'). Instead, using a specific scenario, such as 'What would you do if you moved house or changed your bank?' may give more realistic behaviours.  </li>
        <li>Future research could explore:
          <ul class="govuk-list govuk-list--bullet">
            <li>Whether participants understanding of 'change of circumstances' is aligned with our definition. </li>
            <li>What categories they think it includes and how these could be broken down further. </li>
            <li>What types of changes participants feel are important to report. It's possible that participants are unaware of all the changes they are required to report to DWP. </li>
          </ul>
        </li>
        <li>Understand which changes a user could make in the DWP profile and which we would expect to feed from OneLogin. </li>
        <li>Understand what users would expect to see in 'Account history' and whether this page is where they would expect to access this information. </li>
       </ul>


  </div>
  </div>

{% endblock %}
