{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change of circumstances page
      </h1>

      <p>This page explains research and design specific to the change of circumstances page. There were two designs for this that were shown to users: a <a href="/OP1/my-account/change-circumstances-a">design with icons</a> and a <a href="/OP1/my-account/change-circumstances-b">design without icons</a>.</p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The intention behind this concept was to explore groupings for change of circumstances reasons.</li>
        <li>Groupings have been decided by the UCD team and viewing Universal Credit report a change journeys - user testing will help inform if these groupings make sense</li>
        <li>Icons have been included in one concept to see if they helped users understand what type of change was included in the groupings.</li>
      </ul>

      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with 10 users in round 3 of research. The team was aware that Universal Credit is working with similar pages but decided against adopting the same categories for change of circumstances as those used by Universal Credit. The categories used in this prototype are not based on research such as card testing but were directly tested with users.  </p>

    

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Participants generally preferred versions with icons, as they found them visually clear and friendlier. </li>
        <li>Few participants expected to find 'change bank details' under 'work, income, and savings'. Most thought it would be under 'personal details', and one person considered selecting 'change not listed'.  </li>
      </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>The current categories for change of circumstances don't work for users: 
          <ul class="govuk-list govuk-list--bullet">
            <li>Conduct more research to understand how people group different changes of circumstances, possibly through a card sorting exercise.   </li>
            <li>Conduct desk research to gather groupings used by other DWP or government services when reporting a change. </li>
          </ul>
        </li>
        <li>Before building a flow, conduct desk research on existing designs for changing bank details that have already been tested.   </li>
        <li>Test designs without icons with users before introducing icons into designs to understand whether or not they improve usability, especially, e.g. for dyslexic users. </li>
       </ul>


  </div>
  </div>

{% endblock %}
