{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirming identity pages and confirmation page
      </h1>

      <p>This page explains research and design specific to the following set of pages:</p>
      <ul class="govuk-list govuk-list">
        
        
        <li>Confirming identity pages: 
          <ul class="govuk-list govuk-list--bullet">
        <li><a href="/OP1/Questions/bank-confirm-identity">We need you to confirm your identity</a></li>
        <li><a href="/OP1/Questions/bank-check-phone">Check your phone</a></li>
          </ul>
        </li>

        <li>Confirmation page: 
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/OP1/Questions/bank-confirmation">Application complete</a></li>

           </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <p>[Add text] </p>

      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>These pages were tested with 10 users in round 3 of research. </p>

    

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Decided against reanalysing the data as it is very likely that this journey already exists elsewhere and are not specific to multiple benefits. If this has not happened yet, it should be worked with wireframes that were already tested and used – for instance in Universal Credit or other benefits where people use two-factor-authentication. </li>
        
      </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Base designs on standard government or DWP patterns for multi-factor authentication.  </li>
        <li>Explore options for displaying the full phone number or email address to the user to make sure we are sending the code to the correct place, especially because this information appears in the profile page a few screens before. </li>
        <li>Reconsider whether it is necessary to partially hide the phone number if it appears a few screens earlier. </li>
        <li>At the bottom of the confirmation page, review the use of the primary button component. This is the end of the journey so it is not standard to present the user with a Continue button at this point. Base the design on standard government for confirmation pages. </li>
        </ul>
  </div>
  </div>

{% endblock %}
