{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl">
      {{"Welcome Sarah Smith"}}
    </h1>
    <p class="govuk-heading-s">
      {{"Last Logged in 8th June 2024 10:35:28"}}
    </p>
    {{ govukInsetText({
      text: "It can take up to 7 days for any payments to be processed."
    }) }}
</div>
    <div class="nhsuk-width-container-fluid">
      <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
            <h4>Benefits</h4>
            <a href="#">View your benefit payments</a>
          </p>
            <a href="#">View your statements</a>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-one-third-tablet">
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
            <h4>Upcoming Payments</h4>
            <h2>5th March 2030</h2>
          </p>
            <h4>Expected Amount</h4>
            <h2>£560</h2>
          </div>
        </div>
      </main>
    </div>
  </div>
</p>
<div class="nhsuk-width-container-fluid">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
        <h4>Your Application</h4>
        <h5>REF: SMP2030</h5>
        <h2>Status: In Review</h2>
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-u-one-third-tablet">
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
        <h4>Check Status</h4>
        <a href="#">Track your Application</a>
      </p>
        <h4>Last Updated</h4>11 June 2030 11:33:08
      </div>
    </div>
  </main>
</div>
</p>
<div class="nhsuk-width-container-fluid">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
        <h4>Your Profile</h4>
        <a href="#">View your personal details</a>
      </p>
        <a href="#">View or update your accibility needs</a>
      </p>
        <a href="#">Report a change of circumstance</a>
      </div>
    </p>

    
{% endblock %}
