{% extends "layouts/main.html" %}

{% block pageTitle %}
Support {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "apply-track",
      text: "Apply and track"

    },
    {
      href: "#",
      text: "Payments"
    },
    {
      href: "#",
      text: "Manage account"
    },
    {
      href: "support",
      text: "Support",
      active: true
    },
    {
      href: "#",
      text: "Messages"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and content is likely to change.'
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{"Support"}}
    </h1>
      <p class="govuk-body-m">
      {{"You can contact us if you need support with managing your claim or have a question about it."}}
    </p>
  </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">For payments</h2>
           <h3 class="govuk-heading-m"><a href="">Call advisor</a></h3>
              <p class="govuk-body-m">Telephone call with advisor.</p>
              <h3 class="govuk-heading-m"><a href="">Book session</a></h3>
              <p class="govuk-body-m">Face-to-face session.</p>
              <h3 class="govuk-heading-m"><a href="">Webchat</a></h3>
              <p class="govuk-body-m">Online advisor.</p>
              <h3 class="govuk-heading-m"><a href="">Diagnose your problem</a></h3>
              <p class="govuk-body-m">Use our tool to help you find a solution to your problem.</p>
    </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">For account and profile</h2>
           <h3 class="govuk-heading-m"><a href="">Call advisor</a></h3>
              <p class="govuk-body-m">Telephone call with advisor.</p>
              <h3 class="govuk-heading-m"><a href="">Book session</a></h3>
              <p class="govuk-body-m">Face-to-face session.</p>
              <h3 class="govuk-heading-m"><a href="">Webchat</a></h3>
              <p class="govuk-body-m">Online advisor.</p>
              <h3 class="govuk-heading-m"><a href="">Diagnose your problem</a></h3>
              <p class="govuk-body-m">Use our tool to help you find a solution to your problem.</p>
    </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Other types of help</h2>
           <h3 class="govuk-heading-m"><a href="">Benefits</a></h3>
              <h3 class="govuk-heading-m"><a href="">Payments</a></h3>
              <h3 class="govuk-heading-m"><a href="">Application</a></h3>
              <h3 class="govuk-heading-m"><a href="">Tracking</a></h3>
              <h3 class="govuk-heading-m"><a href="">General enquiry</a></h3>
            </div>
  </main>
</div>



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Other services</h2>

      <p class="govuk-body-m">
        <a href="#">Benefits explanation</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Citizens Advice</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Contact preferences</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Support</a>
      </p>
    </div>


    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">


      <p class="govuk-body-m">
        <a href="#">NHS for mental health</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">NHS therapy</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Find support near you</a>
      </p>
      
    </div>
  </main>
</div>
{% endblock %}


