{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your bank or building society account details
      </h1>

      
      <div class="govuk-form-group" action="/OP1/Questions/bank-check" method="post">
        <label class="govuk-label" for="event-name">
          Name on the account
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Sort code
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Must be 6 digits long
        </div>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
      </div>

    

            
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
         Account number
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Must be between 6 and 8 digits long
        </div>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-16">
        Building society roll number (if you have one)
        </label>
        <div id="event-name-hint" class="govuk-hint">
          You can find this on your card statement or passbook
        </div>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>

        {{ govukButton({
          text: "Continue",
          href: "/OP1/Questions/bank-check"
        }) }}
      </form>
    </div>
  

    <div class="govuk-grid-column-one-third">

  <div class="govuk-inset-text">
    <h2 class="govuk-heading-l">Talk to an advisor</h2>
    <p class="govuk-body-m">
      Telephone: 020 79466 0101
      <br>
      Textphone: 020 7946 0102
      <br>
      Monday to Friday, 9am to 5pm (except public holidays)
      <br>
      <a href="">Find out about call charges</a> <br>
    </p>
  </div>
</div>
</div>
{% endblock %}