{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your bank details have been updated<br>
        Your reference number is<br><strong>AB123CD</strong>"
      }) }}

      <p>
We have updated your bank details. If you are expecting a payment in the next 24 hours it may be made to your previous account.      </p>

      <h2 class="govuk-heading-m">
Do you need to make another change?      </h2>

      <p>
        <a href="">Make another change</a>
      </p>

      
      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
