{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your caring responsibilities
      </h1>

      <p class="govuk-body">
        You have caring responsibilities for Belle Philips
      </p>

      

      
      <form class="form" action="/op1/questions/typeofchange" method="post">
      

        {{ govukRadios({
          name: "interviewNeeds",
          fieldset: {
            legend: {
              text: "Is this a change to your caring responsibilities for Belle Philips?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}