{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Change submitted",
        html: "Your reference number<br><strong>~SMP2123F</strong>"
      }) }}

      <p>
        We have updated your information.
      </p>

      <h2 class="govuk-heading-m">
        Changes to your benefits
      </h2>

      <p>
        You are no longer eligible for Carer’s Allowance and you will stop receiving this payment. This is because you have told us the person you were caring for has moved in to a care home.
      </p>

      <p>
        You may be eligible for other benefits or support. <a href="#">Check what benefits and financial support you can get</a> <a href="https://www.gov.uk/check-benefits-financial-support"></a>
      </p>
      <p>
        Belle Philips is no longer eligible for Attendance Allowance and will stop receiving this payment. This is because you have told us her care home fees are paid for by a local authority or the NHS.</p>
      <p>
        <p>
          Belle Philips may be eligible for other benefits or support. <a href="#">Check what benefits and financial support you can get</a> <a href="https://www.gov.uk/check-benefits-financial-support"></a>
        </p>

        
        <a href="#">
          Want to speak to an advisor?
        </a>
      </p>


    </div>
  </div>

{% endblock %}
