{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your phone
      </h1>

      <div class="govuk-inset-text">
We have sent a code to your phone number ending with <strong>0908</strong>      </div>

<p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-5">
          Enter code
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Must be 6 digits long
        </div>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
      </div>

    
      

        {{ govukButton({
          text: "Submit",
          href: "/OP1/Questions/employ-confirmation"
        }) }}
      </form>

      <p class="govuk-body govuk-!-margin-top-7"><a href="">Request new code</a></p>
      <p class="govuk-body"><a href="">Select an alternative method</a></p>
      <p class="govuk-body"><a href="">Need help?</a></p>
    </div>
  

    <div class="govuk-grid-column-one-third">

  <div class="govuk-inset-text">
    <h2 class="govuk-heading-l">Talk to an advisor</h2>
    <p class="govuk-body-m">
      Telephone: 020 79466 0101
      <br>
      Textphone: 020 7946 0102
      <br>
      Monday to Friday, 9am to 5pm (except public holidays)
      <br>
      <a href="">Find out about call charges</a> <br>
    </p>
  </div>
</div>
</div>
{% endblock %}