{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/OP1/Questions/check-answers" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "How is the care home paid for?",
          fieldset: {
            legend: {
              text: "How is the care home paid for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Privately paid for",
              text: "Privately paid for"
            },
            {
              value: "Funded partly by local authority or NHS",
              text: "Funded partly by local authority or NHS"
            },
            {
              value: "FFully funded by local authority or NHS",
              text: "Fully funded by local authority or NHS"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
