{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        html: "You may be eligible for the following benefits"
      }) }}
    </div>
    </div>
  

      <div class="govuk-grid-row">
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-column-two-thirds govuk-grid-column-one-third">

            <p class="govuk-body-m"><strong>
Based on your circumstances, you might be able to get these benefits and financial support.      </p>
</strong>
<p>
</div>
        </main>
      
<div class="govuk-grid-column-one-third">
 <p class="govuk-body-m" text-align="right"><strong>Please select</strong></p>
</div>

  <div class="govuk-grid-row">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-column-two-thirds govuk-grid-column-one-third">

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Pension Credit      </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        <strong>Estimated payout time: 2 weeks</strong>
      </p>
      <h2 class="govuk-heading-m">What is it?</h2>
      <p class="govuk-body-m">
        Pension Credit tops up your State Pension. To get Pension Credit you must be receiving State Pension but not getting the full amount. You must also be receiving certan benefits. Find out more about <a href="">Pension Credit</a>.
      </p>
  </div>
  </details>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <div class="govuk-checkboxes__item checkbox">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          </label>
        </div>
      </div>
    </main>
  </div>
      

  <div class="govuk-grid-row">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-column-two-thirds govuk-grid-column-one-third">


  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
Funeral Expenses Payment      </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        <strong>Estimated payout time: 3 weeks</strong>
      </p>
      <h2 class="govuk-heading-m">What is it?</h2>
      <p class="govuk-body-m">
        Funeral Expenses Payment can help with the costs of a funeral, such as burial or cremation fees. To get Funeral Expenses Payment you must be receiving certain benefits, be a close relative of the desceased and organising a funeral in the UK.  Find out more about <a href="">Funeral Expenses Payment</a>.
      </p>
    
  </div>
  </details>
</div>
      
<div class="govuk-grid-column-one-third">
  <div class="govuk-checkboxes__item checkbox">
    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
    </label>
  </div>
</div>
</main>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <main class="govuk-main-wrapper">
<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body-m">
You can choose to apply for some or all of the benefits you are eligible for at the same time.  </p>
    
<p class="govuk-body-m">
If you decide to apply for more than one benefit, you will be asked for all of the information and evidence needed to complete your application.      
</div>
  </main>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Apply to selected"
}) }}

{% endblock %}
