{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 4: Eligibility"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Concept 4: Eligibility</h1>
<p>The prototype pages linked below explore the concept of what DWP might show a user after they have answered questions about benefits they might be eligible for in an eligibility flow.</p>

<h2 class="govuk-heading-m">The prototype</h2>

<p>Design A and design B are variations on a similar layout. </p>
<p>Content examples are for a user claiming the State Pension and a user who is pregnant and has a disabled child.  </p>



<ul class="govuk-list govuk-list--bullet">
        <li><a href="design-a-pensioner">Design A (a user claiming the State Pension)</a></li>
        <li><a href="design-b-pensioner">Design B (a user claiming the State Pension)</a></li>
        <li><a href="design-b-child">Design B (a user who is pregnant and has a disabled child)</a></li>

        </ul>


        <h2 class="govuk-heading-m">Research and design</h2>

        <p>This section summarises the research and design work carried out in relation to the eligibility concepts, as well as suggestions on what to research and design next. </p>
        <ul class="govuk-list govuk-list--bullet">
         <li><a href="res-des-general-eligibility">General</a></li>
         <li><a href="res-des-general-results">Results page</a></li>

       </ul>
    </div>
  </div>
</main>
</div>
{% endblock %}
