{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 4: Eligibility"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Concept 4: Eligibility</h1>
<p>The prototype pages linked below explore the concept of what DWP might show a user after they have answered questions in an eligibility flow.</p>
<p>Design A and design B are variations on a similar layout. </p>


<ul class="govuk-list govuk-list--bullet">
        <li><a href="design-a">Design A</a></li>
        <li><a href="design-b">Design B</a></li>
        </ul>

    </div>
  </div>
</main>
</div>
{% endblock %}
