{% extends "layouts/main.html" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}

{% block header %}
  <!-- Blank header with no service name for the start page -->
   
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "PROTOTYPE"
  },
  html: 'This is a prototype and may not represent the live journey.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Future State Design Service Modernisation Programme Prototype
      </h1>

      <h2 class="govuk-heading-m">Purpose of the MVP</h2>
<p>Explore journeys within the end-to-end service blueprint across the three benefits within MVP scope. To see if it is possible to create common data, process and service delivery model.</p>

<p>The three benefits in scope are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/attendance-allowance">Attendance Allowance</a></li>
        <li><a href="https://www.gov.uk/carers-allowance">Carer's Allowance</a></li>
        <li><a href="https://www.gov.uk/disability-living-allowance-children">Disability Living Allowance Child</a></li>
      </ul>

      <h2 class="govuk-heading-m">Concepts</h2>

          
      <p>We carried out workshops to identify key themes for our work [list them here or link to them?]. From these, we created the following prototypes to test concepts.</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="inside-account/inside-account-concepts">Concept 1: inside the account</a></li>
        <li><a href="OP1/Authentication/coc-concepts">Concept 2: change of circumstances</a></li>
      </ul>
    <p></p>


     

    </div>

    
  </div>

{% endblock %}
