{% extends "layouts/main.html" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}

{% block header %}
  <!-- Blank header with no service name for the start page -->
   
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "PROTOTYPE"
  },
  html: 'This is a prototype and may not represent the live journey.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Future State Design Service Modernisation Programme Prototype
      </h1>

      <h2 class="govuk-heading-m">Purpose of the MVP</h2>
<p>The work described was carried out in spring/summer 2024 but was written up in December 2024.</p>
<p>The work explores journeys and features within the end-to-end service blueprint. The aim was to see if it is possible to create common data, processes and a service delivery model. </p>


      <h2 class="govuk-heading-m">Concepts</h2>

      <p>The following concepts were created following a series of workshops (explained below in 'Background to choosing the concepts'). The concepts were originally created as Mural wireframes and are recreated here.</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="inside-account/inside-account-concepts">Concept 1: Inside the account</a></li>
        <li><a href="OP1/Authentication/coc-concepts">Concept 2: Change of circumstances</a></li>
        <li><a href="tracking/tracking-concepts">Concept 3: Tracking</a></li>
        <li><a href="eligibility/eligibility-concepts">Concept 4: Eligibility</a></li>
      </ul>
  
      <h3 class="govuk-heading-m">Background to choosing the concepts</h3>

      <p>The team carried out <a href="https://dwpdigital.atlassian.net/wiki/spaces/S2/pages/133809799878/Phase+2+Collaborative+Wireframing+Workshop+Sessions" rel="noreferrer noopener" target="_blank">four collaborative workshops</a> (opens new tab in Confluence) to identify key themes and explore features and functionality across the 'update and maintain' areas of the <a href="https://dwpdigital.atlassian.net/wiki/spaces/S2/pages/133809799850/Phase+2+Service+Blueprint" rel="noreferrer noopener" target="_blank">future state service blueprint</a> (opens new tab in Confluence). </p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Inside an account          </span>
        </summary>
        <div class="govuk-details__text">
          One of our assumptions is that Customer View will be the interface for any DWP customer portal. We are now (December 2024) working with Customer View to learn more about their plans for this new customer interface. The intention with this work is to look far into the future and concept test ideas that could support the ‘payment’ and ‘maintain and update’ stages of our user journey. This work will support and complement future work in the Customer View space. We want to develop a vision for how payment information and change of circumstances could be managed in a more joined-up service offering.        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Application tracking          </span>
        </summary>
        <div class="govuk-details__text">
          We know that this is an area of particular frustration for our users. This is shown in the high number of progress chasing calls we see across our benefit lines. This is an area of great opportunity for us – difficulty progress chasing is a well-known user pain point that places a heavy burden on DWP support channels, especially service centres operating phone lines. It maps to the ‘wait and decide’ stage of our journey. We aim to reduce the frustration experienced by users, help our staff trying to support them, and reduce the volume of inbound calls to our service centres. This ultimately frees up staff to support on more complex queries.      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Awareness and eligibility          </span>
        </summary>
        <div class="govuk-details__text">
          The awareness and eligibility stages of the journey are critical to framing a joined-up service and building user understanding of our service offering  We explored guiding the customer through what they might be eligible for, and tested reactions and understanding of the introduction of a single application for multiple benefits (but not the application itself at this stage).      </details>
     
          <p>From these, we created a series of wireframes and prototypes that focused on areas of particular interest, rather than an end-to-end journey.</p>
          <p>The source documents used to create this prototype are detailed on the <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1732637341001/3b8a433c7324f55186dd182f4289fd3ca3e8b027" rel="noreferrer noopener" target="_blank">Prototype review November 2024 Mural board</a> (opens in new tab).</p>

    </div>

    
  </div>

{% endblock %}
