{% extends "layouts/main.html" %}

{% block pageTitle %}
Apply and track {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "#",
      text: "Apply and track",
      active: true

    },
    {
      href: "payments",
      text: "Payments"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and content is likely to change.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">
      {{"Apply and track"}}
    </h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-7">View and access your applications</span>

    <div class="govuk-grid-row card govuk-!-margin-bottom-7">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
          <h2 class="govuk-heading-l">Application progress</h2>
            <p class="govuk-body-m">REF: SMP2030
            </p>
            <h3 class="govuk-heading-m">Status</h3>
            <div class="stepper-wrapper">
              <div class="stepper-item completed">
                <div class="step-counter">1</div>
                <div class="step-name">Submitted</div>
              </div>
              <div class="stepper-item completed">
                <div class="step-counter">2</div>
                <div class="step-name">Received</div>
              </div>
              <div class="stepper-item active">
                <div class="step-counter">3</div>
                <div class="step-name">In review</div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Check status</h4>
            <p class="govuk-body-m">
              <a href="application-submitted.html">Track your application</a>
            </p>
        </div>
      </main>
    </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
      <h2 class="govuk-heading-l">Your submitted applications</h2>
      <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
           <h3 class="govuk-heading-m"><a href="application-submitted.html">Check application status - Ref SMP123UCD</a></h3>
           <p class="govuk-body">Your application is for:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>Pension Credit</li>
             <li>Funeral Expenses Payment</li>
           </ul>

           <h3 class="govuk-heading-m"><a href="">Check application status - Ref SMP200UCD</a></h3>
           <p class="govuk-body">Your application is for:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>Disability Living Allowance Child</li>
           </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m"><a href="">Continue application - Ref SMP456UCD</a></h3>
      <p class="govuk-body">Your application is for:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>Maternity Allowance</li>
           </ul>
    </div>
    
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
      <h2 class="govuk-heading-l">Apply</h2>
      <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
        <p class="govuk-body"><a href="">Click here to check your eligibility</a></p>
        <p class="govuk-body"><a href="">Create a new application</a></p>
        <p class="govuk-body"><a href="">Learn more about benefits here</a></p>
    </div>
    <div class="govuk-grid-column-one-half">

      <p class="govuk-body"><a href="">Application history</a></p>

    </div>
  </main>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Other services</h2>
      <p class="govuk-body-m">
        <a href="#">Benefits explanation</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Citizens Advice</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Contact preferences</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Support</a>
      </p>
    </div>


    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">


      <div class="govuk-inset-text">
        <h2 class="govuk-heading-l">Talk to an advisor</h2>
        <p class="govuk-body-m">
          Telephone: 020 79466 0101
          <br>
          Textphone: 020 7946 0102
          <br>
          Monday to Friday, 9am to 5pm (except public holidays)
          <br>
          <a href="">Find out about call charges</a> <br>
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}


