{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Design next steps
      </h1>

      <p>Possible areas for design focus:</p>

      <h2 class="govuk-heading-m">
        General
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Understand how the header aligns with the OneLogin header.</li>
        <li>Understand how the OneLogin account aligns to this account.</li>
        <li>Explore options for how we reassure the user about where they are. </li>
        <li>Carry out some desk research into other 'accounts' that exist in DWP and across government that these users may be familiar with.</li>
        <li>Ensure the top priority information is on each screen.</li>
        <li>Ensure the information hierarchy is clear on each screen.</li>
        <li>Ensure the information is laid out in the most intuitive way.</li>
        <li>Explore how we can make numeric content work for users who struggle to understand numbers (e.g. users with dyscalulia), as well as work for users who may have dyslexia.</li>
     </ul>

     <h2 class="govuk-heading-m">
      Home page
    </h2>
    <ul class="govuk-list govuk-list--bullet">
     <li>Explore how we can allow a user to track applications and can create a consistent experience across pages and benefits.</li>
     <li>Ensure any design for progress tracking meets design guidelines.</li>
     <li>Understand what users currently receive in relation to their benefit payments (letters, text messages, emails ando so on).</li>
     <li>Explore how we can best show payment information to users (and align the information to what arrives in their bank account).</li>
   </ul>

   <h2 class="govuk-heading-m">
    Apply and track page
  </h2>
  <ul class="govuk-list govuk-list--bullet">
   <li>Explore how we can allow a user to track applications and can create a consistent experience across pages and benefits.</li>
   <li>Ensure any design for progress tracking meets design guidelines.</li>
   <li>Understand when users expect to be updated on applications they have submitted. </li>
   <li>Explore how we can best show payment information to users (and align the information to what arrives in their bank account).</li>
 </ul>

 <h2 class="govuk-heading-m">
Payments page
</h2>
<ul class="govuk-list govuk-list--bullet">
 <li>Explore how we can allow a user to track applications and can create a consistent experience across pages and benefits.</li>
 <li>Understand when users expect to be updated on applications they have submitted. </li>
 <li>Explore how we can best show payment information to users (and align the information to what arrives in their bank account).</li>
 <li>In 'Your benefits', explore how we can make it easy for users to access and understand information about which benefits they are receiving.</li>
 <li>In 'Other services', make it clear to the user which pages/support belong to DWP and which are external and approved for us to link to.</li>
 <li>In 'Other services', explore options for personalising links.</li>
</ul>

<h2 class="govuk-heading-m">
  Your application page
</h2>
<ul class="govuk-list govuk-list--bullet">
 <li>Explore how we can allow a user to track applications and can create a consistent experience across pages and benefits.</li>
 <li>Ensure any design for progress tracking meets design guidelines.</li>
 <li>Understand when users expect to be updated on applications they have submitted. </li>
</ul>


<h2 class="govuk-heading-m">
  Support page
</h2>
<ul class="govuk-list govuk-list--bullet">
 <li>Understand the expectations users have about accessing support. </li>
 <li>Test the language users expect in relation to accessing support. </li>
 <li>Explore where in the account users expect to go to for support. </li>

</ul>
    </div>
  </div>

{% endblock %}
