{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 1: Inside the account"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Concept 1: Inside the account</h1>
<p>The prototype pages linked below explore the concept of 'Inside the account'.</p>
<p>Although the pages are connected in the prototype, the pages do not form a comprehensive journey and, therefore, we suggest you view each page as stand alone.</p>
<p>The assumption is that the user would log in via OneLogin before arriving at the first page shown. </p>


<ul class="govuk-list govuk-list--bullet">
        <li><a href="home">Account home page</a></li>
        <li><a href="apply-track">Track your applications</a></li>
        <li><a href="application-submitted">Track one application</a></li>
        <li><a href="payments">Payments</a></li>
        <li><a href="support">Support</a></li>
      </ul>

    </div>
  </div>
</main>
</div>
{% endblock %}
