{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


  

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index"
    },
    {
      text: "Concept 1: Inside the account"
    }
  ]
}) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Concept 1: Inside the account</h1>
<p>The screens in this prototype explore the concept of 'Inside the account'.</p>

<h2 class="govuk-heading-m">The prototype</h2>

<p>Although the pages are connected in the prototype, the pages do not form a comprehensive journey and, therefore, we suggest you view each page as standalone.</p>
<p>The assumption is that the user would log in via OneLogin before arriving at the first page shown. </p>


<ul class="govuk-list govuk-list--bullet">
        <li><a href="home">Account home page</a></li>
        <li><a href="apply-track">Track your applications</a></li>
        <li><a href="application-submitted">Track one application</a></li>
        <li><a href="payments">Payments</a></li>
        <li><a href="support">Support</a></li>
      </ul>


     <h2 class="govuk-heading-m">Research and design</h2>

     <p>These pages explain the research carried out in relation to concept 1, as well as suggestions on what to research and design next.</p>

     <ul class="govuk-list govuk-list--bullet">
      <li><a href="">Research questions</a></li>
      <li><a href="">Detailed research summary</a></li>
      <li><a href="">Limitations of research</a></li>
      <li><a href="">How this research should be picked up again</a></li>
      <li><a href="design-next-steps">Design next steps</a></li>
    </ul>
    </div>
  </div>
</main>
</div>
{% endblock %}
