{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{"Payments"}}
    </h1>
    <h2>
      Next payment due on
    </h2>

    <p class="govuk-heading-s">
      {{"1st March 2030"}}
    </p>
    <h3>
      Expected amount
    </h3>
    <p class="govuk-body-s">
      {{"£560"}}
    </p>
    <p class="govuk-body-s">
      {{"Payments can take up to 7 days to appear in your account."}}
    </p>
  </div>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="nhsuk-grid-column-full">
      <h2>Your benefits</h2>


      <h3>Maternity Allowance</h3>
      <p>Maternity Allowance is a payment you can get when you take time off to have a baby. You could get it if you are
        employed but cannot get Statutory Maternity Pay (SMP), are self-employed or have recently stopped working.
        Find out more about <a href="">Maternity Allowance</a>.</p>

      <h3>Disability Living Allowance for Children</h3>
      <p>Disability Living Allowance ( DLA ) for children can help with the extra costs of looking after a child under
        16 who has difficulties walking or needs much more looking after than a child of the same age who does not have
        a disability. Find out more about <a href="">Disability Living Allowance (DLA) for children</a>.
      </p>
    </div>
  </main>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="nhsuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Your benefits</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Your benefits</th>
            <th scope="col" class="govuk-table__header">Expected amounts</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Maternity Allowance

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Tell me more about Maternity Allowance
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Maternity Allowance is a payment you can get when you take time off to have a baby. You could get it
                  if you are employed but cannot get Statutory Maternity Pay (SMP), are self-employed or have recently
                  stopped working.
                  Find out more about <a href="">Maternity Allowance</a>.
                </div>
              </details>
            </th>
            <td class="govuk-table__cell">£220</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Disability Living Allowance for Children

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Tell me more about Disability Living Allowance for Children
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Disability Living Allowance ( DLA ) for children can help with the extra costs of looking after a
                  child under 16 who has difficulties walking or needs much more looking after than a child of the same
                  age who does not have a disability. Find out more about <a href="">Disability Living Allowance (DLA)
                    for children</a>.
                </div>
              </details>
            </th>
            <td class="govuk-table__cell">£340</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="nhsuk-grid-column-one-half nhsuk-grid-column-one-half">
      <h2>Your payments</h2>
      <p>
        <a href="#">View statement history</a>
      </p>
      <p>
        <a href="#">Download statements</a>
      </p>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-grid-column-one-third-tablet">
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-grid-column-one-half">


      <p>
        <a href="#">Payment notification</a>
      </p>
      <p>
        <a href="#">Change bank details</a>
      </p>
    </div>
  </main>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="nhsuk-grid-column-one-half nhsuk-grid-column-one-half">
      <h2>Other services</h2>
      <p>
        <a href="#">Benefits explanation</a>
      </p>
      <p>
        <a href="#">Citizens Advice</a>
      </p>
      <p>
        <a href="#">Contact preferences</a>
      </p>
      <p>
        <a href="#">Support</a>
      </p>
    </div>


    <div class="nhsuk-grid-column-one-half nhsuk-grid-column-one-half">


      <div class="govuk-inset-text">
        <h3>Talk to an advisor</h3>
        <p>
          Telephone: 020 79466 0101
          <br>
          Textphone: 020 7946 0102
          <br>
          Monday to Friday, 9am to 5pm (except public holidays)
          <br>
          <a href="">Find out about call charges</a> <br>
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}