{% extends "layouts/main.html" %}

{% block pageTitle %}
Payments {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "apply-track",
      text: "Apply and track"

    },
    {
      href: "#",
      text: "Payments",
      active: true
    },
    {
      href: "#",
      text: "Manage account"
    },
    {
      href: "support",
      text: "Support"
    },
    {
      href: "#",
      text: "Messages"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and content is likely to change.'
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{"Payments"}}
    </h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-7">View your statements and payment details</span>
    <h2 class="govuk-heading-m"> 
      Next payment due on
      </h2>
      <p class="govuk-body-m">
      {{"1st March 2025"}}
    </p>
    <h2 class="govuk-heading-m"> 
      Expected amount
      </h2>
    <p class="govuk-body-m">
      {{"£560"}}
    </p>
    <p class="govuk-body-m govuk-!-margin-top-7">
      {{"Payments can take up to 7 days to appear in your account."}}
    </p>
  </div>
  </main>
</div>

<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
      <h2 class="govuk-heading-l">Benefits</h2>
      <div class="govuk-grid-column-two-thirds govuk-grid-column-one-third">
           <h3 class="govuk-heading-m">Maternity Allowance</h3>
      <p class="govuk-body-m">Maternity Allowance is a payment you can get when you take time off to have a baby. You could get it if you are
        employed but cannot get Statutory Maternity Pay (SMP), are self-employed or have recently stopped working.
        Find out more about <a href="">Maternity Allowance</a>.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body-m">Expected amount: <strong>£220</strong>.</p>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Disability Living Allowance for Children</h3>
        <p class="govuk-body-m">Disability Living Allowance ( DLA ) for children can help with the extra costs of looking after a child under
        16 who has difficulties walking or needs much more looking after than a child of the same age who does not have
        a disability. Find out more about <a href="">Disability Living Allowance (DLA) for children</a>.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body-m">Expected amount: <strong>£340</strong>.</p>
      </div>
  </main>
</div>


<div class="govuk-grid-row card govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full-width">
      <h2 class="govuk-heading-l">Your payments</h2>
      <p class="govuk-body-m">
        <a href="#">View statement history</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Download statements</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Payment notification</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Change bank details</a>
      </p>
      </div>
  </main>
</div>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Other services</h2>
      <p class="govuk-body-m">
        <a href="#">Benefits explanation</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Citizens Advice</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Contact preferences</a>
      </p>
      <p class="govuk-body-m">
        <a href="#">Support</a>
      </p>
    </div>


    <div class="govuk-grid-column-one-half govuk-grid-column-one-half">


      <div class="govuk-inset-text">
        <h2 class="govuk-heading-l">Talk to an advisor</h2>
        <p class="govuk-body-m">
          Telephone: 020 79466 0101
          <br>
          Textphone: 020 7946 0102
          <br>
          Monday to Friday, 9am to 5pm (except public holidays)
          <br>
          <a href="">Find out about call charges</a> <br>
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}


