{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Payments page
      </h1>

      <p>This page explains research and design specific to the <a href="payments">Payments page</a>. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
<p>Proposing a single application form for customers seeking financial support needs careful consideration about how we communicate what a customer will be paid and when.</p>
      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with around 18 users in round 2 and round 3 of research. </p>

     <h2 class="govuk-heading-m">
      Design changes from the tested version visible in this prototype</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Minor changes in font size to make the content hierarchy clearer. </li>
        <li>Minor changes to bring content into line with the GDS style guide (e.g. capitalisation). </li>
        <li>Top horizontal navigation header uses the new GDS Design System grey <a href="https://design-system.service.gov.uk/components/service-navigation/" rel="noreferrer noopener" target="_blank">service navigation component</a> (opens in new tab), which is a new component published in summer 2024 after the research took place instead of the header used in the Mural designs, which is not part of the Design System.</li>
      </ul>

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Participants were generally positive about the page, with some saying it met their expectations and could replace letters and reduce phone calls to DWP.  </li>
        <li>When asked what they understood from the screen, many mentioned details about the payment breakdown, total amounts, or due dates.</li>
        
        <li>Pain points:
            <ul class="govuk-list govuk-list--bullet">
              <li>Payment delays: Some participants found it hard to understand why payments could take up to 7 days and wanted an explanation. </li>
              <li>Fluctuating amounts: Similarly, some wanted clearer explanations about why payment amounts might change, such as what causes the difference between expected and confirmed amounts. </li>
              <li>Application tracking: About half of the participants couldn’t find the ‘Apply and Track’ button (in the side bar) when asked where to check the status of a recent application. This may be because they didn’t expect it to be in the menu. </li>
                </ul>
        </li>
       </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Provide explanations about why payments might take up to 7 days and what factors affect the final benefit amount. </li>
        <li>The Apply & Track menu option does not work for users. Think about ways to track individual benefits for instance by adding direct links to each benefit instead of relying solely on the general menu option. </li>
        <li>Explore how we can best show payment information to users (and align the information to what arrives in their bank account). </li>
      <li>In 'Your benefits', explore how we can make it easy for users to access and understand information about which benefits they are receiving. </li> 
      <li>In 'Other services', make it clear to the user which pages/support belong to DWP and which are external and approved for us to link to. </li>
      <li>In 'Other services', explore options for personalising links.</li>
    </ul>


  </div>
  </div>

{% endblock %}
