{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Apply and track page
      </h1>

      <p>This page explains research and design specific to the <a href="apply-track.html">Apply and track page</a>. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <p>We know that chasing progress is an area of particular frustration for our users, and it is reflected in the high number of calls to DWP across our benefit lines. This also places a heavy burden on DWP support channels, especially service centres operating phone lines. This concept aims to reduce the frustration experienced by users, help our staff trying to support them, and reduce the volume of inbound calls to our service centres.</p>

      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with around 18 users in round 2 and round 3 of research. </p>

     <h2 class="govuk-heading-m">
      Design changes from the tested version visible in this prototype</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Minor changes in font size to make the content hierarchy clearer. </li>
        <li>Minor changes to bring content into line with the GDS style guide (e.g. capitalisation). </li>
        <li>Top horizontal navigation header uses the new GDS Design System grey <a href="https://design-system.service.gov.uk/components/service-navigation/" rel="noreferrer noopener" target="_blank">service navigation component</a> (opens in new tab), which is a new component published in summer 2024 after the research took place instead of the header used in the Mural designs, which is not part of the Design System.</li>
      </ul>

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      <ul class="govuk-list govuk-list--bullet">
        <li>Overall participants seemed to understand what they could do on this page. They liked being able to: 
          <ul class="govuk-list govuk-list--bullet">
            <li>See the progress of their applications. </li>
            <li>View the benefits they had applied for. </li>
            <li>Experience the reassurance the page provided. </li>
            <li>Appreciate the simplistic design. </li>
          </ul>
        </li>
        <li>Pain points:
            <ul class="govuk-list govuk-list--bullet">
              <li>Apply and track: Some participants felt that 'Apply' and 'Track' should be more clearly separated. It's unclear from the feedback whether participants wanted these as separate pages or just labelled differently, such as 'Apply or Track'.  
              </li>
              <li>Headline suggestion: One participant suggested changing the 'Apply' section's headline to 'Further Application'. </li>
              <li>Progress bar confusion: Similar to the previous page, some participants didn't like that the progress bar seemed to represent multiple applications at once.</li>
                </ul>
        </li>
       </ul>
      
      
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Reflect on why 'apply' and 'track' are displayed the way they are, whether it makes sense and consider how it can be reformulated for people who have already applied for one benefit.</li>
        <li>Reflect on the design of the progress bar, assuming that people do not apply for several benefits at once. Align the design across all pages.  </li>
        <li>Understand users' behaviour and expectations across the application process. </li>
      <li>Review the pain points and address them when designing similar pages.</li> 
      </ul>


  </div>
  </div>

{% endblock %}
