{% extends "layouts/main.html" %}

{% block pageTitle %}
Design next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Support page
      </h1>

      <p>This page explains research and design specific to the <a href="support">Support page</a>. </p>

      <h2 class="govuk-heading-m">
      What was the design intention?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The intention behind this concept was to explore how to provide support information for users inside the account.</li>
        <li>Support areas included help with an application as well as exceptional circumstances or signposting to third party support services.</li>
        <li>We explored how support could be multi-channel, including web chat, phone call, face to face and phone directory.</li>
      </ul>
      
      <h2 class="govuk-heading-m">
      Did we test it?</h2>
      <p>This page was tested with 10 participants as part of another journey (change of circumstances) in round 3.   </p>

     <h2 class="govuk-heading-m">
      Design changes from the tested version visible in this prototype</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Moved 'Talk to an advisor' section for consistency with other screens.</li>
        <li>Minor changes to bring content into line with the GDS style guide (e.g. capitalisation). </li>
        <li>Top horizontal navigation header uses the new GDS Design System grey <a href="https://design-system.service.gov.uk/components/service-navigation/" rel="noreferrer noopener" target="_blank">service navigation component</a> (opens in new tab), which is a new component published in summer 2024, after the research took place instead of the header used in the Mural designs, which is not part of the Design System.</li>
      </ul>

      <h2 class="govuk-heading-m">
      Detailed research summary</h2>
     
      
      <ul class="govuk-list govuk-list--bullet">
        <li>The high number of options to contact DWP was generally appreciated by participants. </li>
        <li> Support via webchat was frequently mentioned as the most convenient method of contact, as it was considered quick and easy.  
            <ul class="govuk-list govuk-list--bullet">
              <li>While most users accepted needing to answer a few questions from a bot in order to be redirected to the right department, there was an overall expectation to eventually chat with a real human. Most likely because there was little trust in the ability of a bot to solve problems.</li>
              <li>Some participants thought that webchat would lead to quicker results than a phone call.  </li>
            <li>One participant said that their preferred choice of channel would depend on the specific problem they would approach DWP with. </li>
            </ul>
        </li>
       </ul>
       
         
      <h2 class="govuk-heading-m">
      Considerations for further research and design work</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Understand what kind of support channels can actually be provided by DWP. </li>
        <li>Understand the expectations users have about accessing support.  </li>
        <li>Test the language users expect in relation to accessing support. </li>
        <li>Explore where in the account users expect to go to for support. </li> 
         </ul>


  </div>
  </div>

{% endblock %}
